<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form1" name="form1" method="post" action="">
        <table width="200" border="1">
          <tr>
            <td>Replay</td>
            <td><label for="complaint_replay"></label>
            <textarea name="complaint_replay" id="complaint_replay" cols="45" rows="5"></textarea></td>
          </tr>
          <tr>
            <td colspan="2" align="center"> <input type="submit" name="submit" id="submit" value="Submit" /></td>
          </tr>
        </table>
      </form>
</body>
</html>