<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><a href="{% url 'webadmin:sercivebooking' %}">service booking</a></div>
    <div><a href="{% url 'webadmin:district' %}">District</a></div>
    <div><a href="{% url 'webadmin:Place' %}">Place</a></div>
    <div><a href="{% url 'webadmin:producttype' %}">producttype</a></div>
    <div><a href="{% url 'webadmin:types' %}">Type</a></div>
</body>
</html>