{% extends 'Admin/header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form1" name="form1" method="post" action="">
        {% csrf_token %}
        <table width="347" height="101" border="1" align="center">
            <tr>
                <td><label for="producttype_name">Product Type</label></td>
                <td><input type="text" name="producttype_name" id="producttype_id" value="{{pty_data.producttype_name}}"/></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="btnsave" id="btnsave" value="SAVE" />
                </td>
            </tr>
        </table>
        <br />
        <br />
        <table width="200" border="1" align="center">
            <tr>
                <th>SI NO.</th>
                <td>Product Type</td>
                <td>Action</td>
            </tr>
            {% for i in producttype %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.pty.producttype_name}}</td>
            <td><a href="{% url 'webadmin:delproducttype' i.id %}">Delete</a></td>
            <td><a href="{% url 'webadmin:editproducttype' i.id %}">Edit</a></td>
        </tr>
        {% endfor %}
        </table>
    </form>
</body>
</html>
{% endblock content %}