<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form2" name="form2" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <table width="415" border="1">
            <tr>
                <td width="145"><label for="ddlproduct">Product Type</label></td>
                <td><select name="producttype" id="">
                    <option value="">...Select...</option>
                    {% for i in producttype %}
                    <option
                    {% if i.id == product_data.producttype_id %}
                    selected
                    {% endif %}
                    value="{{i.id}}">{{i.pdt.producttype_name}}</option>
                {% endfor %}
            </select></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="product_name" id="txt_product" /></td>
            </tr>
            <tr>
                <td>Image</td>
                <td><input type="file" name="photo" id="photo" /></td>
            </tr>
            <tr>
                <td>Rate</td>
                <td><input type="text" name="product_rate" id="product_rate" /></td>
            </tr>
            <tr>
                <td>Description</td>
                <td>
                    <textarea name="product_description" id="product_description" cols="45" rows="5"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="btnsave" id="btnsave" value="SAVE" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>