{% extends 'Admin/header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <form id="form1" name="form1" method="post" action="">
        {% csrf_token %}
        <table width="347" height="101" border="1" align="center">
            <tr>
                <td>Date</td>
                <td><input type="date" name="date" id="inputdate"></td>
            </tr>
            <tr>
                <td align="center"><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>
<script type="text/javascript">
    $(function(){
        var dtToday = new Date();
     
        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if(month < 10)
            month = '0' + month.toString();
        if(day < 10)
         day = '0' + day.toString();
        var maxDate = year + '-' + month + '-' + day;
        $('#inputdate').attr('min', maxDate);
    });
    </script>
{% endblock content %}