<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Sl no</th>
            <th>Product image</th>
            <th>Product Name</th>
            <th>User Name</th>
            <th>Address</th>
            <th>Location</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
            <tr>
                <td><label for="product_name"></label></td>
                <td><label for="user_name"></label></td>
                <td></td>
            </tr>
    </table>
</body>
</html>