<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Sl no</th>
            <th>user name</th>
            <th>complaint</th>
            <th>Product name</th>
            <th>product type</th>
            <th>Address</th>
            <th>phone no</th>
            <th>Action</th>
            <th>Feedback</th>
        </tr>
        {% for i in view %}
        <tr>
           <td>{{forloop.counter}}</td>
           <td>{{i.user.user_name}}</td>
           <td>{{i.view.service_content}}</td>
           <td>{{i.producttype.producttype_name}}</td>
           <td>{{i.types.type_name}}</td>
           <td>{{i.user.user_address}}</td>
           <td>{{i.user.user_contact}}</td>
           <td>{% if i.view.service_status == 0 %}
            <a href="{% url 'webadmin:accepted' i.id %}">Accepted</a>
            <a href="{% url 'webadmin:rejected' i.id %}">Rejected</a>
                
                {% elif i.view.service_status == 1 %}
                <span style="color: green;">Accept | <a href="{% url 'webadmin:completed' i.id %}">Completed</a></span>
                {% elif i.view.service_status == 3 %}
                <span style="color: green;">Completed</span>
                {% else %}
                <span style="color: red;">Reject</span>
                {% endif %}
            </td>
            <td>{{i.view.feedback_content}}</td>
        </tr>
        {% endfor %}
    </table>
    {% if msg %}
    <script>
        alert("Mail i sented to {{msg}}")
        window.location = "{% url 'webadmin:sercivebooking' %}"
    </script>
    {% endif %}
</body>
</html>