{% extends 'User/Header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form1" name="form1" method="post" action="">
      {% csrf_token %}
        <table width="200" border="1" align="center">
          <tr>
            <td width="89">Name</td>
            <td width="95"><input type="text" name="name" value=""></td>
          </tr>
          <tr>
            <td>Contact</td>
            <td><input type="text" name="contact" value=""></td>
          </tr>
          <tr>
            <td>Address</td>
            <td><input type="text" name="address" value=""></td>
          </tr>
          <tr>
            <td colspan="2"  align="center"><input type="submit" name="update" id="update" value="Update" />
            <input type="submit" name="cancel" id="cancel" value="Cancel" /></td>
          </tr>
        </table>
      </form>
</body>
</html>
{% endblock content %}
